# === Configuraciones Sensibles (Lo que pediste) ===

appsettings.Development.json


# === Archivos de Usuario y Secretos ===
*.user
*.userosscache
*.sln.docstates
secrets.json

# === .NET / Visual Studio (Basura que se regenera) ===
bin/
obj/
[Buffer]/
.vs/
.vscode/

